/* You can add global styles to this file, and also import other style files */
@import "./app/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spinner-container {
  position: absolute;
  top: calc(50% - 56.5486677px / 2);
  right: calc(47% - 56.5486677px / 2);
}
.invisible {
  visibility: hidden;
}
.red {
  color: #ff0000;
}
.green {
  color: #008000;
}
.blue {
  color: #0000ff;
}
.error-message {
  color: $errorColor;
  background-color: $errorBackground;
  border-color: $errorBorder;
  padding: 20px;
  border-radius: 5px;
}
